@font-face {
    font-family: Kathaline;
    src: url('../fonts/Kathaline.ttf');
}

body {
    padding-top: 40px;
    padding-bottom: 40px;
    background: url('/images/background.jpg');
}
label {
    display: inline-block;
    margin-bottom: .5rem;
}

h1 {
    padding: 0 10px;
    font-family: 'Kathaline', serif;
    font-size: 32px;
}

h2 {
    font-size: 22px !important;
}

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}

.button-wrapper {
    margin-top: 12px;
    justify-content: center;
    display: flex;
    flex-direction: row;
}

.button-wrapper button, a{
    margin: 8px 8px;
    min-width: 100px;
}

.form-item-wrapper {
    margin-top: 12px;
}

.message-wrapper {
    margin-top: 10px;
    font-size: 18px;
}

.error{
    color: red;
}

.success {
    color: green;
}