@font-face {
    font-family: Kathaline;
    src: url('../fonts/Kathaline.ttf');
}


body {
    background: url('/images/background.jpg');
}

.logo {
    font-family: 'Kathaline', serif;
}

.card-section {
    margin-top: 32px;
}

.card-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.card-item {
    background-color: white;
    -moz-box-shadow: 0 0 5px #ccc;
    -webkit-box-shadow: 0 0 5px #ccc;
    box-shadow: 0 0 3px #ccc;
    padding: 3% 6%;
    cursor: pointer;
}

.card-item p {
    font-size: 22px;
    margin-top: 14px;
}

.card-item img {
    max-width: 70px;
}

.inner-card-wrapper {
    display: flex;
    flex-direction: column;
    min-width: 146px;
    min-height: 133px;
    text-align: center;
}

.form-group {
    margin-bottom: 1rem;
}

label {
    display: inline-block;
    margin-bottom: .5rem;
}

.new-chat-wrapper {
    margin-bottom: 15%;
    background-color: white;
    padding: 24px 32px !important;
    border-radius: 8px;

    -moz-box-shadow: 0 0 5px #ccc;
    -webkit-box-shadow: 0 0 5px #ccc;
    box-shadow: 0 0 4px #ccc;
}

h1{
    color: black;
    text-align: center;
    margin-top: 50px !important;
    font-size: 50px;
}

.message-wrapper {
    margin-top: 10px;
    font-size: 18px;
}

.error{
    color: red;
}

.success {
    color: green;
}

.main-section {
    margin-top: 2%;
}

.mychats-title {
    margin-top: 0 !important;
    margin-bottom: 32px !important;
}

.list-item {
    width: 100%;
    padding: 4px 8px;
    border-radius: 4px;
    cursor: pointer;
    margin: 24px auto !important;
    background-color: rgba(86,61,124,.15);
    border: 1px solid rgba(86,61,124,.2);

    -webkit-transition: all .3s ease-in-out 0s;
    -moz-transition: all .3s ease-in-out 0s;
    -o-transition: all .3s ease-in-out 0s;
    -ms-transition: all .3s ease-in-out 0s;
    transition: all .3s ease-in-out 0s;
}

.list-item:hover {
    padding: 7px 14px;
}

.list-item-container {
    padding: 28px 32px !important;
    border-radius: 3px;
    background-color: white;
    margin: 0 18px !important;

    -moz-box-shadow: 0 0 5px #ccc;
    -webkit-box-shadow: 0 0 5px #ccc;
    box-shadow: 0 0 8px #ccc;
}

.rounded-circle {
    border-radius: 50% !important;
    max-height: 48px;
}

.prv-title-wrapper {
    max-width: 300px;
}

.list-item-container a {
    text-decoration: none;
    color: black;
}

.list-item-container a:hover {
    text-decoration: none;
    color: black;
}

.exit-icon, .edit-icon {
    padding: 4px;
    max-width: 40px;

    -webkit-transition: all .2s ease-in-out 0s;
    -moz-transition: all .2s ease-in-out 0s;
    -o-transition: all .2s ease-in-out 0s;
    -ms-transition: all .2s ease-in-out 0s;
    transition: all .2s ease-in-out 0s;
}

.exit-icon:hover {
    filter: invert(22%) sepia(98%) saturate(7036%) hue-rotate(0deg) brightness(110%) contrast(121%);
}

.edit-icon:hover {
    filter: invert(56%) sepia(100%) saturate(3524%) hue-rotate(90deg) brightness(125%) contrast(122%);
}

.chat-image {
    max-height: 48px;
}
